<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Name: </label>
        <input th:field="*{name}" type="text" id="name"/>
        <br/>
        <label for="last_name">Last Name: </label>
        <input th:field="*{lastName}" type="text" id="last_name"/>
        <br/>
        <label for="age">Age: </label>
        <input th:field="*{age}" type="text" id="age"/>
        <br/>
        <label for="email">Email: </label>
        <input th:field="*{email}" type="text" id="email"/>
        <br/>
        <label for="roles">Roles:</label>
        <input type="checkbox" name="roles" id="roles"
                th:each="role : ${allRoles}"
                th:text="${role.roleName}"
                th:value="${role.id}"/> <!--нужно, чтобы флажок был установлен, если у юзера есть такая роль-->
        <br/>
        <input th:field="*{password}" type="text" id="password" hidden/>
        <br/>
        <input type="submit" value="Update User">
    </form>

    <br/>

    <form th:method="GET" th:action="@{/admin}">
        <input type="submit" value="Show All Users">
    </form>

    <br/>

    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>

</body>
</html>