<!--<% taglib prefix="security" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:security="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/users_style.css"/>
    <title>User</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
        <tr>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getPassword()}"></td>
            <td th:text="${user.getRoles()}"></td>
        </tr>
    </table>

    <security:authorize access="hasRole('ROLE_ADMIN')">
        <form th:method="GET" th:action="@{/admin}">
            <input type="submit" value="Show All Users">
        </form>
    </security:authorize>

    <form th:method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</body>
</html>