/* Login page stylesheet*/
.login {
    width: 250px;
    margin: 100px auto;
}
.login h4 {
    font-weight: 900;
    margin-top: 20px;
}
.login h6 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.login input {
    width: 100%;
}
.login .login-button {
    margin-top: 5px;
    border-radius: 5px;
    border-color: dodgerblue;
    background-color: dodgerblue;
    color: white;
}
.login .login-text-field {
    border-radius: 5px;
    background-color: #ffffff;
}
.login .login-text-field:focus {
    box-shadow: 0 0 2px 2px dodgerblue;
}
.login p {
    font-size: .8em;
    font-style: italic;
}
.login ul {
    list-style-type: none;
}
.login .form-check-label {
    width: 150px;
}
.login .form-check-input {
    width: 20px;
}

/*Header in admin and user pages*/
header {
    background-color: #1b1b19;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 30px;
    font-size: 1.5em;
}
.logout-button {
    background-color: #1b1b19;
    border: #1b1b19;
    color: #b9bfb3;
    font-size: .7em;
}


/*Container in admin and user pages which contains buttons to choose role and user(s) info */
.container {
    margin: 0;
    width: 100%;
}
.container .buttons {
    width: 100px;
    margin-right: auto;
    margin-left: 0;
    padding: 0px -12px;
    background-color: white;
}
.container .buttons .active-role {
    margin-top: 10px;
    background-color: dodgerblue;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;

}
.container .buttons input {
    color: dodgerblue;
    background-color: white;
    border: none;
    padding: 20px;
}
.container .col-10 {
    background-color: #ebebe9;
}
.container h1 {
    padding: 10px;

}




.my-table {
    margin-top: 100px;
}

table, th, td {
    border-style:solid;
    border-width:1px;
    border-collapse:collapse;
    padding:2px;
}
th {
    height:28px;
    background-color: cadetblue;
    color:white;
    border-color:black;
}
/*.ts1 {
    background-color:#ffeffb;
}*/
