/* Login page stylesheet*/
.login {
    width: 250px;
    margin: 100px auto;
}
.login h4 {
    font-weight: 900;
    margin-top: 20px;
}
.login h6 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.login input {
    width: 100%;
}
.login .login-button {
    margin-top: 5px;
    border-radius: 5px;
    border-color: dodgerblue;
    background-color: dodgerblue;
    color: white;
}
.login .login-text-field {
    border-radius: 5px;
    background-color: #ffffff;
}
.login .login-text-field:focus {
    box-shadow: 0 0 2px 2px dodgerblue;
}
.login p {
    font-size: .8em;
    font-style: italic;
}
.login ul {
    list-style-type: none;
}
.login .form-check-label {
    width: 150px;
}
.login .form-check-input {
    width: 20px;
}

/*Header in admin and user pages*/
header {
    background-color: #1b1b19;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 30px;
    font-size: 1.5em;
}
header .align-right {
    text-align: right;
}
.logout-button {
    text-align: right;
    background-color: #1b1b19;
    border: #1b1b19;
    color: #b9bfb3;
    font-size: .7em;
}


/*Container in admin and user pages which contains buttons to choose role and user(s) info */
.container {
    margin: 0;
    width: 100%;
}
.container .buttons {
    width: 100%;
    margin-right: auto;
    margin-left: 0;
    padding: 0px -12px;
    background-color: white;
}
.container .buttons .active-role {
    background-color: dodgerblue;
    color: white;
    border-radius: 3px;
    padding: 10px 20px;

}
.container .buttons input {
    color: dodgerblue;
    background-color: white;
    border: none;
    padding: 20px;
}
.container .col-10 {
    background-color: #ebebe9;
    min-height: 800px;
    padding-bottom: 20px;
}
.container h1 {
    padding: 10px;
}

.btn-delete-user, .btn-edit-user {
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 15px;
}
.btn-edit-user {
    background-color: #09a292;
}
.btn-delete-user {
    background-color: #c92137;
}

/* Table stylesheet */
.my-table {
    padding: 5px 5px;
    background-color: white;
    caption-side: top;
    border: 20px solid white;
    border-radius: 5px;
}
caption {
    background-color: #dcdcda;
    padding-left: 20px;
    font-weight: 700;
}
.my-table th, td {
    min-width: 100px;
    padding: 5px 20px;
}
/*.my-table tr:hover {
    font-weight: 500;
}*/
.my-table td {
    border-bottom: 2px solid #dcdcda;
}
.my-table .odd {
    background-color: #dcdcda;
}

/* Matching tabs at admin page */
#tab1:checked ~ #user-table,
#tab2:checked ~ #add-user {display: block}
