table, th, td
{
    border-style:solid;
    border-width:1px;
    border-collapse:collapse;
    padding:2px;
}
th
{
    height:28px;
    background-color: cadetblue;
    color:white;
    border-color:black;
}
.ts1
{
    background-color:#ffeffb;
}