<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link type="image/x-icon" href="/images/favicon.ico" rel="shortcut icon">

    <title>Admin page</title>
</head>
<body>

    <header>
        <div class="row">
            <div class="col-10">
                <span id="userEmail" style="font-weight: bold">User</span>
                <span>with roles:</span>
                <span id="userRoles">ADMIN, USER</span>
            </div>
            <div class="col-2">
                <div class="align-right">
                    <form th:method="POST" th:action="@{/logout}">
                        <input class="logout-button" type="submit" value="Logout">
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">

            <div class="col-2">
                <div class="buttons">
                    <div class="active-role">
                        <p>Admin</p>
                    </div>
                    <div sec:authorize="hasRole('ROLE_USER')">
                        <form th:method="GET" th:action="@{/user}">
                            <input type="submit" value="User">
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-10">
                <h1>Admin panel</h1>
                <div class="tab-pane active mx-3" id="adminPanel">

                    <nav class="nav nav-tabs">
                        <a class="nav-link active allUsers" data-bs-toggle="tab" href="#allUsers">Users table</a>
                        <a class="nav-link newUser" data-bs-toggle="tab" href="#newUser">New User</a>
                    </nav>

                    <div class="tab-content">

                        <!-- Tab with table with information about all users and buttons Edit and Delete -->
                        <div class="tab-pane active" id="allUsers" role="tabpanel">
                            <table class="my-table">
                                <caption>All users</caption>
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Roles</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="allUsersTableBody"></tbody>
                            </table>
                        </div>

                        <!-- Tab for adding new user-->
                        <div class="tab-pane" id="newUser" role="tabpanel">
                            <h6>Please fill all fields</h6>
                            <form id="addUserForm" class="add-user">

                                <input id="addId" type="number" hidden/>

                                <h6>First Name</h6>
                                <input id="addName" type="text"/>

                                <h6>Last Name</h6>
                                <input id="addLastName" type="text"/>

                                <h6>Age</h6>
                                <input id="addAge" type="number"/>

                                <h6>Email Address</h6>
                                <input id="addEmail" type="email"/>

                                <h6>Password</h6>
                                <input id="addPassword" type="password"/>

                                <h6>Roles</h6>
                                <select id="addRoles" class="form-select form-select-sm" multiple size="2"></select>

                                <input id="addUserBtnSubmit" class="login-button" type="submit" value="Add New User">
                            </form>
                        </div>
                    </div>
                </div>

                <!--<div class="tabs">
                    <input type="radio" name="inset" value="" id="tab1" checked>
                    <label for="tab1">Users Table</label>

                    <input type="radio" name="inset" value="" id="tab2">
                    <label for="tab2">New user</label>
                </div>-->
            </div>
        </div>
    </div>

    <!-- Modal window for editing user -->
    <div class="modal fade"
         id="modalEditUser"
         tabindex="-1"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="editForm" class="form-floating">

                        <div class="form-group" hidden>
                            <input id="editId" type="number"/>
                        </div>

                        <div class="form-group">
                            <h6>First Name</h6>
                            <input id="editName" name="user-name" type="text" required/>
                        </div>

                        <div class="form-group">
                            <h6>Last Name</h6>
                            <input id="editLastName" name="user-last-name" type="text" required/>
                        </div>

                        <div class="form-group">
                            <h6>Age</h6>
                            <input id="editAge" name="user-age" type="number" required/>
                        </div>

                        <div class="form-group">
                            <h6>Email</h6>
                            <input id="editEmail" name="user-email" type="email" required/>
                        </div>

                        <div class="form-group">
                            <h6>Roles</h6>
                            <select id="editRoles" class="form-select form-select-sm" multiple size="2"></select>
                        </div>

                        <div class="form-group">
                            <input id="editPassword" name="user-password" type="password" hidden/>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit"
                            class="btn btn-primary mb-2"
                            form="editForm"
                            id="editBtnSubmit"
                            data-bs-dismiss="modal">
                        Edit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal window for deleting user -->
    <div class="modal fade"
         id="modalDeleteUser"
         tabindex="-1"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="deleteForm" class="form-floating">

                        <div class="form-group" hidden>
                            <input id="deleteId" type="number"/>
                        </div>

                        <div class="form-group">
                            <h6>First Name</h6>
                            <input id="deleteName" type="text" disabled/>
                        </div>

                        <div class="form-group">
                            <h6>Last Name</h6>
                            <input id="deleteLastName" type="text" disabled/>
                        </div>

                        <div class="form-group">
                            <h6>Age</h6>
                            <input id="deleteAge" type="number" disabled/>
                        </div>

                        <div class="form-group">
                            <h6>Email Address</h6>
                            <input id="deleteEmail" type="email" disabled/>
                        </div>

                        <div class="form-group">
                            <h6>Roles</h6>
                            <input id="deleteRoles" type="text" disabled/>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit"
                            form="deleteForm"
                            id="deleteBtnSubmit"
                            class="btn btn-danger mb-2 deleteSubmit"
                            data-bs-dismiss="modal">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/adminJS.js"></script>

</body>
</html>