<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link type="image/x-icon" href="/images/favicon.ico" rel="shortcut icon">

    <title>Admin page</title>
</head>
<body>
    <header>
        <div class="row">
            <div class="col-10">
                <span th:text="${authorizedUser.getEmail()}" style="font-weight: bold">User</span>
                with roles:
                <span th:text="${#strings.arrayJoin(authorizedUser.getRoles(), ', ')}">ADMIN, USER</span>
            </div>
            <div class="col-2">
                <div class="align-right">
                    <form th:method="POST" th:action="@{/logout}">
                        <input class="logout-button" type="submit" value="Logout">
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">

            <div class="col-2">
                <div class="buttons">
                    <div class="active-role">
                        <p>Admin</p>
                    </div>
                    <div sec:authorize="hasRole('ROLE_USER')">
                        <form th:method="GET" th:action="@{/user}">
                            <input type="submit" value="User">
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-10">
                <h1>Admin panel</h1>

                <div class="tabs">
                    <input type="radio" name="inset" value="" id="tab1" checked>
                    <label for="tab1">Users Table</label>

                    <input type="radio" name="inset" value="" id="tab2">
                    <label for="tab2">New user</label>

                    <!-- Tab with table with information about all users and buttons Edit and Delete -->
                    <div id="user-table">
                        <table class="my-table">
                            <caption>All users</caption>
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <th:block th:each="user : ${users}">
                                <tr th:class="${userStat.odd} ? 'odd'">
                                    <td th:text="${user.getId()}">10</td>
                                    <td th:text="${user.getName()}">Ivan</td>
                                    <td th:text="${user.getLastName()}">Ivanov</td>
                                    <td th:text="${user.getAge()}">22</td>
                                    <td th:text="${user.getEmail()}">ivanov@gmail.com</td>
                                    <td th:text="${#strings.arrayJoin(user.getRoles(), ', ')}">ADMIN, USER</td>

                                    <!--<td>
                                        <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                                            <input class="btn-edit-user" type="submit" value="Edit">
                                        </form>
                                    </td>-->

                                    <!-- Opening modal window for editing the user -->
                                    <td>
                                        <button type="button" class="btn-edit-user" data-bs-toggle="modal" data-bs-target="#editUserModal">
                                            Edit
                                        </button>
                                    </td>

                                    <!--<td>
                                        <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                                            <input class="btn-delete-user" type="submit" value="Delete">
                                        </form>
                                    </td>-->


                                    <!-- Open modal window for deleting the user -->
                                    <td>
                                        <button type="button" class="btn-delete-user" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                                            Delete
                                        </button>
                                    </td>

                                    <!--&lt;!&ndash; Кнопка-триггер модального окна &ndash;&gt;
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Запустите демо модального окна
                        </button>-->

                                    <!-- Modal window for editing user -->
                                    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editUserModalLabel">Edit user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal for deleting user -->
                                    <!--<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteUserModalLabel">Edit user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                                </div>
                                                <div class="modal-body">

                                                    ...

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->


                                    <!-- Modal window for deleting user -->
                                    <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteUserModalLabel">Delete user</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                                                        <input class="btn-delete-user" type="submit" value="Delete">
                                                    </form>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </tr>
                            </th:block>
                        </table>
                    </div>

                    <!-- Tab for adding new user-->
                    <div id="add-user">
                        <h6>Please fill all fields</h6>

                        <form class="add-user" th:method="POST" th:action="@{/admin}" th:object="${user}">

                            <h6>First Name</h6>
                            <input class="login-text-field" th:field="*{name}" type="text"/>

                            <h6>Last Name</h6>
                            <input class="login-text-field" th:field="*{lastName}" type="text"/>

                            <h6>Age</h6>
                            <input class="login-text-field" th:field="*{age}" type="text"/>

                            <h6>Email Address</h6>
                            <input class="login-text-field" th:field="*{email}" type="text"/>

                            <h6>Password</h6>
                            <input class="login-text-field" th:field="*{password}" type="password"/>

                            <h6>Roles</h6>
                            <ul>
                                <li th:each="role : ${roles}">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           th:field="*{roles}"
                                           th:value="${role.id}">
                                    <label class="form-check-label"
                                           th:for="${#ids.prev('roles')}" th:text="${role.roleName.substring(5)}">test</label>
                                </li>
                            </ul>

                            <input class="login-button" type="submit" value="Add New User">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>