<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Hi there</title>
</head>
<body>
    <h3>
        Welcome to Nikolay Chuistov's first web app! Feel free to explore it.
    </h3>

    <form name="f" method="post" action="/process_login">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <input type="text" name="username" placeholder="username"/>
        <br/>
        <input type="password" name="password" placeholder="password"/>

        <div th:if="${param.error}" style="color: red">
            Wrong username or password
        </div>

        <br/>
        <input type="submit" value="Login"/>
    </form>

    <br/>

    <form th:method="GET" th:action="@{/authentication/register}">
        <input type="submit" value="Sign in"/>
    </form>
</body>
</html>