<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>User page</title>
</head>
<body>
    <header>
        <div class="row">
            <div class="col-10">
                <span th:text="${authorizedUser.getEmail()}" style="font-weight: bold">User</span>
                with roles:
                <span th:text="${authorizedUser.getRoles()}">roles list</span>
            </div>
            <div class="col-2">
                <div class="align-right">
                    <form th:method="POST" th:action="@{/logout}">
                        <input class="logout-button" type="submit" value="Logout">
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="buttons">
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <form th:method="GET" th:action="@{/admin}">
                            <input type="submit" value="Admin">
                        </form>
                    </div>
                    <div class="active-role">
                        <p>User</p>
                    </div>

                </div>
            </div>
            <div class="col-10">
                <h1>User information</h1>

                <table class="my-table">
                    <caption>About user</caption>
                    <tr>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Roles</th>
                    </tr>
                    <tr class="odd">
                        <td th:text="${authorizedUser.getName()}">First Name</td>
                        <td th:text="${authorizedUser.getLastName()}">Last Name</td>
                        <td th:text="${authorizedUser.getAge()}">Age</td>
                        <td th:text="${authorizedUser.getEmail()}">Email</td>
                        <td th:text="${authorizedUser.getRoles()}">Roles</td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>