<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>User page</title>
</head>
<body>
    <header>
        <div class="row">
            <div class="col-10">
                <span th:text="${authorizedUser.getEmail()}" style="font-weight: bold">User</span>
                with roles:
                <span th:text="${authorizedUser.getRoles()}">roles list</span>
            </div>
            <div class="col-2">
                <form th:method="POST" th:action="@{/logout}">
                    <input class="logout-button" type="submit" value="Logout">
                </form>
            </div>
        </div>
    </header>

    <table>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
        <tr>
            <td th:text="${authorizedUser.getName()}">First Name</td>
            <td th:text="${authorizedUser.getLastName()}">Last Name</td>
            <td th:text="${authorizedUser.getAge()}">Age</td>
            <td th:text="${authorizedUser.getEmail()}">Email</td>
            <td th:text="${authorizedUser.getPassword()}">Password</td>
            <td th:text="${authorizedUser.getRoles()}">Roles</td>
        </tr>
    </table>

    <br/>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <form th:method="GET" th:action="@{/admin}">
            <input type="submit" value="Admin page">
        </form>
    </div>

</body>
</html>