<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<body>
    <h3>Enter your username and password</h3>
    <form name="f" method="post" action="/process_login">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <input type="text" name="username" placeholder="username"/>
        <br/>
        <input type="password" name="password" placeholder="password"/>

        <div th:if="${param.error}" style="color: red">
            Wrong username or password
        </div>

        <br/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>