<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Register</title>
</head>
<body>
    <div class="login">
        <h4>Please fill all fields</h4>

        <form th:method="POST" th:action="@{/authentication/register}" th:object="${user}">
            <h6>First Name</h6>
            <input class="login-text-field" th:field="*{name}" type="text"/>
            <h6>Last Name</h6>
            <input class="login-text-field" th:field="*{lastName}" type="text"/>
            <h6>Age</h6>
            <input class="login-text-field" th:field="*{age}" type="text"/>
            <h6>Email Address</h6>
            <input class="login-text-field" th:field="*{email}" type="text"/>
            <h6>Password</h6>
            <input class="login-text-field" th:field="*{password}" type="password"/>

            <h6>Roles</h6>
            <input th:field="*{roles}" type="checkbox" name="roles"
                   th:each="role : ${roles}"
                   th:text="${role.roleName}"
                   th:value="${role.id}"
            />

            <input class="login-button" type="submit" value="Sign up">
        </form>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>