<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h3>Welcome to registration page! Please fill all fields.</h3>

    <form th:method="POST" th:action="@{/authentication/register}" th:object="${user}">
        <input th:field="*{name}" type="text" id="name" placeholder="name"/>
        <br/>
        <input th:field="*{lastName}" type="text" id="last_name" placeholder="last name"/>
        <br/>
        <input th:field="*{age}" type="text" id="age" placeholder="age"/>
        <br/>
        <input th:field="*{email}" type="text" id="email" placeholder="email - your future login"/>
        <br/>
        <input th:field="*{password}" type="password" id="password" placeholder="password"/>
        <br/>
        <input th:field="*{roles}" type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.roleName}"
               th:value="${role.id}"
        />
        <br/>

        <input type="submit" value="Sign up">
    </form>
</body>
</html>